FormAuthCore.csproj
FormAuthCore.csproj.user
appsettings.development.json

Connected Services
Dependencies
Properties
wwwroot
Migrations
#appsettings.json
#Program.cs


#Controllers
.gitignore
#Models
#Interfaces
#Services
#Views
bin 
obj